<mat-toolbar color="primary" class="d-flex justify-content-between w-100">
  <span>Ewidencja App</span>

  <div class="mr-5" *ngIf="authService.isLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <span *ngIf="loggedUser">
        {{loggedUser.firstname}} {{loggedUser.lastname.charAt(0)}}.
      </span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item matTooltip="Wyloguj" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Wyloguj</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>
<div class="container my-5">
  <router-outlet></router-outlet>
</div>
